.project-section {
  padding: 1rem;
  background-color: #1e3a8a; 
  color: white;               
  text-align: center;
}

.project-section h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.project-section p {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat( 2,1fr);
  gap: 2rem;
  justify-items: center;
}


.project-card {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: transform 0.2s;
  background-color: #333; 
}

.project-card:hover {
  transform: scale(1.05);
}

.project-image-wrapper {
  width: 100%;
  /* height: 300px; */
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.project-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
   display: block;
  /* object-position: center; */
}

.project-name {
  background-color: #d7d1d1;
  color: #1e3a8a;
  padding: 1.5rem 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-left: auto;
}

.project-tag {
  background-color: white;
  color: #1e3a8a;
  padding: 0.3rem 0.7rem;
  border-radius: 999px; 
  font-size: 0.75rem;
  font-weight: 600;
}

@media (max-width: 600px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}