.skills-title {
  text-align: center;
  font-size: 2.5rem;
  color: #3F51B5;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.skills-column {
  width: 40%;
  text-align: center;
}

.skills-column h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #3F51B5;
}

.skills-image {
  width: 120%;
  height: auto;
  transform: translate(-80px);
}

/* Séparateur vertical */
.skills-divider {
  width: 6px;
  background-color: #3F51B5;
  border-radius: 4px;
}

/* Soft skills */
.soft-skills {
  color: #3F51B5;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 200px;
}

.soft-skills li {
  font-size: 1.1rem;
  list-style-type: disc;
  text-align: left;
}



/* TABLETTE */
@media (max-width: 1024px) {
  .skills-container {
    gap: 30px;
  }

  .skills-column {
    width: 45%;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .skills {
    padding: 60px 5%;
  }

  .skills-title {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .skills-column {
    width: 100%;
  }

  /* Séparateur devient horizontal */
  .skills-divider {
    width: 80%;
    height: 4px;
    margin: 30px 0;
  }

  .skills-column h3 {
    font-size: 1.4rem;
  }

  .soft-skills li {
    font-size: 1rem;
  }
}