.apropos {
  margin: 0 auto;
  text-align: center;
  background-color: #ff6b00fc;
}

.apropos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 40px;
  max-width: 900px;
  margin: 0 auto;
}

.apropos-portrait {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%; 
  flex-shrink: 0;
  border: 4px solid white; 
}


.apropos-text {
  max-width: 600px;
  text-align: left;
}

.apropos h2 {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 24px;
  font-weight: 700;
}

.apropos p {
  font-size: 1rem;
  line-height: 1.8;
  color: white;
}

.cv-button {
  position: absolute;
  right: -80px;
  top: 50%;
  transform: translateY(-50%);

  width: 80px;
  height: 160px;
  background-color: white;

  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  color: #ff6b00fc;
  text-decoration: none;
  cursor: pointer;

  opacity: 0;
  animation: slideInCV 5s ease forwards;
  z-index: 10;
}

.cv-button:hover {
  background-color: #ffe6d5;
  transform: translateY(-50%) scale(1.05);
  transition: 0.3s ease;
}


@keyframes slideInCV {
  0% {
    opacity: 0;
    transform: translate(100px, -50%);
  }
 20% {
    opacity: 1;
    transform: translate(0, -50%);
  }

  80% {
    opacity: 1;
    transform: translate(0, -50%);
  }

  100% {
    opacity: 1;
    transform: translate(100px, -50%);
  }
}




@media (max-width: 768px) {
  .apropos-container {
    flex-direction: column;
    text-align: center;
  }

  .apropos-text {
    text-align: center;
  }

  .apropos-portrait {
    margin-bottom: 20px;
  }

  .cv-button {
   position: static;
    transform: none;
    animation: none;
    margin-top: 24px;
    width: auto;
    height: auto;
    padding: 12px 24px;
    border-radius: 999px;
    font-size: 0.95rem;
    opacity: 1;
  }

}

@media (max-width: 1024px) and (min-width: 769px) {
  .apropos-container {
    flex-direction: column;
    text-align: center;
  }

  .apropos-text {
    text-align: center;
  }

  .cv-button {
    position: static;
    transform: none;
    animation: none;
    opacity: 1;
    margin-top: 20px;
    width: auto;
    height: auto;
    padding: 10px 20px;
    border-radius: 999px;
    font-size: 0.9rem;
  }
}

