.navbar-header{
    background-color: white;
    top:0;
    width: 100%;
    z-index: 100;
    height: auto;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

header.navbar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.header_nav ul{
    display: flex;
    gap: 20px;
}

img{
    width: 40%;
}

a{
    text-decoration: none;
    color: #858181
}